.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s ease-in;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1);
      transform: translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.7);
      z-index: 20;
      outline: 1.2rem solid $color-primary;
      outline-offset: 2rem;
    }
  }

  //this is for scaling down the image when scaling up the hovered image
  //.composition:hover composition__photo:not(:hover)  //first hover entire composition and select compostion__photo which are not hovered
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
